body {margin: 0.3em;}

.mine {width: 95%; margin: 0.1em;}

#buttonbar {background-color: whitesmoke;}

#map_go {
    border: 1px solid red;
    height: 90%;    position:absolute;
}

#results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#results td, #results th {
  border: 1px solid #ddd;
}

#results tr:nth-child(even){background-color: #79807917;}

#results tr:hover {background-color: #ddd;}

#results th {
  text-align: left;
  background-color: #303a31bf;
  color: white;
}
